<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tr>
        <td>Name</td>
        <td>{{pool.pool_name}}</td>
    </tr>
    <tr>
        <td>Contest </td>
        <td>{{pool.contest.contest_name}}</td>
    </tr>
    <tr>
        <td>Tools</td>
        <td>{{pool.tools}}</td>
    </tr>
    <tr>
        <td>Techniques</td>
        <td>{{pool.techniques}}</td>
    </tr>
    <tr>
        <td>Domains</td>
        <td>{{pool.domains}}</td>
    </tr>
    <tr>
        <td>Difficulty</td>
        <td>{{pool.difficulty}}</td>
    </tr>
</table>
</body>
</html>
