<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        input[type = "text"]{
            width:500px;
            height:20px;
        }
    </style>
    <script type = "text/javascript" src = "/site_media/jquery.js"></script>
</head>
<body>
<div style = "width:30%;position:fixed; float:left;display:inline-block;">
    <h3>Question Pools </h3>
</div>
<div style = "position:fixed;margin-left:30%;width:68%;float:left;display:inline-block;">

 {%include "Questions/create_pool_form.html"%}
 {%include "Questions/pool_create_query.html"%}
 {%include "links.html"%}
</div>
<script>
{%include "scripts/save_pool.html"%}
{%include "scripts/create_pool.html"%}


</script>
</body>
</html>
