<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        input[type = "text"]{
            width:500px;
            height:20px;
        }
    </style>
</head>
<body>
<h3>Add new Questions to pool</h3>
<form action="." method = "post"><br/>
    {%csrf_token%}
    <table style = "font-size:18px;line-height:1.5;">
        <tr>
            <td>Number of Questions</td>
            <td> <input type="text" name = "number_of_questions"> </td>
        </tr>
        <tr><td><br/></td></tr>
        <tr>
            <td>Tags</td>
            <td></td>
            <td>Exclude others</td>
            <td></td>
        </tr>
        <tr>
            <td>Domain </td>
            <td> <input type="text" name = "domain" placeholder = "Enter domains separated by ','"> </td>
            <td> <input type="CHECKBOX" name = "domain_exclude"> </td>
            <td></td>
        </tr>
        <tr>
            <td>Tools </td>
            <td> <input type="text" name = "tools" placeholder = "Enter domains separated by ','"> </td>
            <td> <input type="checkbox" name = "tools_exclude"> </td>
            <td></td>
        </tr>
        <tr>
            <td> Techniques </td>
            <td> <input type="text" name = "techniques" placeholder = "Enter domains separated by ','"> </td>
            <td> <input type="checkbox" name = "techniques_exclude"> </td>
            <td></td>
        </tr>
        <tr>
            <td> Difficulty </td>
            <td> <input type = "text"  name = "difficulty" placeholder = "Enter domains separated by ','"></td>
            <td> <input type="checkbox" name = "difficulty_exclude"> </td>
            <td></td>
        </tr>
    </table>
    <input type="submit" value= "Check Questions">
</form>
<!--<button type="button" href = "">Done adding questions</button>-->
</body>
</html>
